#!/usr/bin/env bash

#
# Custom aliases
#
# Usage: 
# 
# if [[ -f "$HOME/.aliases" ]]; then
#   source "$HOME/.aliases"
# fi
#

# Load "secret" aliases
if [[ -f "$HOME/.aliases-secrets" ]]; then
  source "$HOME/.aliases-secrets"
fi

# git aliases
if [[ -f "$HOME/dotfiles/.gitalias" ]]; then
  source "$HOME/dotfiles/.gitalias"
fi

# Language Settings
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

######################################################################################
#                                                                                  AWS
######################################################################################
export AWS_REGION="eu-central-1"

######################################################################################
#                                                                                 BINS
######################################################################################
export PATH="$PATH:$HOME/Development/go/bin"
export PATH="$PATH:$HOME/bin"
export PATH="/usr/local/sbin:$PATH"
export PATH="/Users/kevingimbel/Library/Python/3.7/bin:$PATH"


######################################################################################
#                                                                                   GO
######################################################################################
export GOPATH="$HOME/Development/go"
export GO111MODULE=on
# Magefile.go verbose mode
export MAGE_VERBOSE=1


######################################################################################
#                                                                                 NODE
######################################################################################
export NVM_DIR=~/.nvm

######################################################################################
#                                                                                 RUBY
######################################################################################
export GEM_HOME="/Users/kevingimbel/.gem"
export PATH="$PATH:$GEM_HOME/bin"


######################################################################################
#                                                                                  PHP
######################################################################################

export PATH="/usr/local/opt/php@7.2/bin:$PATH"
export PATH="/usr/local/opt/php@7.2/sbin:$PATH"
alias magerun="docker-compose run --rm magerun"

######################################################################################
#                                                                                CARGO
######################################################################################
export PATH="$HOME/.cargo/bin:$PATH"

######################################################################################
#                                                                           EMSCRIPTEN
######################################################################################
#export PATH="$PATH:/Users/kevingimbel/Development/github/emsdk"
#export PATH="$PATH:/Users/kevingimbel/Development/github/emsdk/clang/e1.38.5_64bit"
#export PATH="$PATH:/Users/kevingimbel/Development/github/emsdk/node/8.9.1_64bit/bin"
#export PATH="$PATH:/Users/kevingimbel/Development/github/emsdk/emscripten/1.38.5"

#export EMSDK="/Users/kevingimbel/Development/github/emsdk"
#export EM_CONFIG="/Users/kevingimbel/.emscripten"
#export LLVM_ROOT="/Users/kevingimbel/Development/github/emsdk/clang/e1.38.5_64bit"
#export EMSCRIPTEN_NATIVE_OPTIMIZER="/Users/kevingimbel/Development/github/emsdk/clang/e1.38.5_64bit/optimizer"
#export BINARYEN_ROOT="/Users/kevingimbel/Development/github/emsdk/clang/e1.38.5_64bit/binaryen"
#export EMSDK_NODE="/Users/kevingimbel/Development/github/emsdk/node/8.9.1_64bit/bin/node"
#export EMSCRIPTEN="/Users/kevingimbel/Development/github/emsdk/emscripten/1.38.5"

######################################################################################
#                                                                           gnu-getops
######################################################################################
export PATH="/usr/local/opt/gnu-getopt/bin:$PATH"



######################################################################################
#                                                                              Ansible
######################################################################################
# Get ansible boilerplate
alias ansible-init='git clone --depth=1 https://github.com/synoa/ansible-boilerplate.git . && yes | rm -r .git'
alias ansible-update-roles="cd /Users/kevingimbel/Development/synoa/ansible/ansible.modules && ./update_roles.sh && cd -"


######################################################################################
#                                                                            shortcuts
######################################################################################
alias lg="ls -ahlrt | grep"

alias load-dynamic="source ~/.bash_dynamic"
